@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: #222;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;

    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem 1rem;
}

.search::placeholder {
    color: #FFF;
}

.search:focus {
    background-color: #111;
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #222;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
    position: relative;
    margin: 1rem 2.5rem;
    width: 300px;
}

.movie img {
    width: 300px;
    height: 450px;
}

.movie-info {
    color: #EEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem 1rem;
    letter-spacing: .5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #111;
    border-radius: 3px;
    font-weight: bold;
    padding: .25rem .5rem;
    margin-left: .5rem;
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #222;
    color: #FFF;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform .5s ease-in-out;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}
